.divCreateArticle {
     
    width: 85%;
    margin: 0 auto
}
.divForm {
    width:  85%;
}

.formLabel {
     
    color: black;
}

form {
    color: black
}
.formItem {
    border:1px dashed black;
}