
.detailsContainer {
    width: 100%;
    margin: 10px;
    display: flex;
}

.accordionStyle {
    width: 85%;

    margin: 0 auto;
}

.editArticle:hover {
    background-color: rgb(240, 240, 240);
}

.smallDescr {
    font-size: 10px;
}

.titleName {
    font-size: 25px;;
}